body {
  font-family:Times newroman;
  margin: 0;
  padding: 0;
  width:100%;
  
}
header {
    background-color:#90A55D;
    color: white;
    text-align:center;
    padding: 10px;
}
.brand {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav{
    background-color:#71873F;
}
.menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.menu li {
    margin: 0 15px;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu li a:hover {
    background-color:#677D52;
}
	
#sec1{
	width:100%;
	height:750px;
	background-image:url(images/banner.webp);
	background-repeat:no-repeat;
	background-size:100%;
}

.sec{
	display:flex;
	color:white;
	justify-content:center;
	background-color:#38532E;
	height:20px;
	width:100%;
	padding:0px 0px 40px 0px;
}
a:hover{
	color:#90A55D;
}
#main2 {
  display: flex;
  justify-content: center;
}
.product {
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
}

button {
  background-color:#8FA05A;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:#557136;
}
#sec2{
	width:100%;
	display:flex;
	justify-content: center;
	list-style-type:none;
}
#sec2 aside{
	width:33.3%;
	background-color:#71873F;
}
#sec2 article{
	width:33.3%;
	background-color:#90A55D;
}
#sec2 h3{
text-align:center;
}
#sec2 pre{
font-family:times newroman;
padding:0px 50px 0px 0px;
}	
#sec2 input{
text-align:center;
justify-content:center;
}

